# NYC traffic accidents over a 3 year period 
## Filter and Subset

Ingest <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv">this dataset</a> stored GitHub.

You can find the <a href="https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95/about_data">data source here</a>, including the data dictionary.

In [3]:
## import necessary libraries
import pandas as pd

In [4]:
## read the dataset into notebook
crashes = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv")
crashes.head()

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,5/21/19,22:50,BROOKLYN,"(40.69754, -73.98312)",0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4136992,ÔøΩMBU,Taxi
1,1/21/20,15:49,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4277087,Sedan,Station Wagon/Sport Utility Vehicle
2,12/31/20,16:30,NaN,NaN,0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4380668,Sedan,NaN
3,12/25/20,20:19,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4380494,Sedan,Sedan
4,4/15/20,15:20,NaN,"(40.671585, -73.99843)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4407790,Sedan,Tractor Truck Diesel

In [5]:
## see the overall info about this dataset
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324383 entries, 0 to 324382
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     324383 non-null  object
 1   CRASH TIME                     324383 non-null  object
 2   BOROUGH                        210698 non-null  object
 3   LOCATION                       298090 non-null  object
 4   NUMBER OF PERSONS INJURED      324383 non-null  int64
 5   NUMBER OF PERSONS KILLED       324383 non-null  int64
 6   NUMBER OF PEDESTRIANS INJURED  324383 non-null  int64
 7   NUMBER OF PEDESTRIANS KILLED   324383 non-null  int64
 8   NUMBER OF CYCLIST INJURED      324383 non-null  int64
 9   NUMBER OF CYCLIST KILLED       324383 non-null  int64
 10  NUMBER OF MOTORIST INJURED     324383 non-null  int64
 11  NUMBER OF MOTORIST KILLED      324383 non-null  int64
 12  CONTRIBUTING FACTOR VEHICLE 1  323137 non-null  object
 13  CONTRIBUTING FACTOR VEHICLE 2  266488 non-null  object
 14  COLLISION_ID                   324383 non-null  int64
 15  VEHICLE TYPE CODE 1            321932 non-null  object
 16  VEHICLE TYPE CODE 2            245802 non-null  object
dtypes: int64(9), object(8)
memory usage: 42.1+ MB

In [6]:
## create a series for borough using dot notation
crashes.BOROUGH

0          BROOKLYN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
324378     BROOKLYN
324379        BRONX
324380        BRONX
324381     BROOKLYN
324382    MANHATTAN
Name: BOROUGH, Length: 324383, dtype: object

In [7]:
## create a series of crash dates.
crashes["CRASH TIME"]

0         22:50
1         15:49
2         16:30
3         20:19
4         15:20
          ...
324378    19:00
324379     8:00
324380     3:30
324381    19:30
324382    12:00
Name: CRASH TIME, Length: 324383, dtype: object

In [8]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## Which borough had the most crashes?

In [9]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## which type of vehicle was primary vehicle (CONTRIBUTING FACTOR VEHICLE 1) involved in crashes?
## SHOW ONLY THE TOP 7

In [10]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## these top 7 but as percentages as a dataframe, with the header "pct"

In [11]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were 15 vehicles that were the most infrequantly involved in an accident  (CONTRIBUTING FACTOR VEHICLE 1)?

In [12]:
## create a subset of data for only Queens
## place it in a dataframe called df_q
df_q = crashes.query ("BOROUGH == 'QUEENS'")
df_q

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
15,5/2/20,17:30,QUEENS,"(40.67376, -73.79473)",0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,4412513,Station Wagon/Sport Utility Vehicle,Pick-up Truck
74,12/16/20,16:20,QUEENS,"(40.7139, -73.7539)",0,0,0,0,0,0,0,0,Driver Inexperience,NaN,4376676,Box Truck,NaN
97,6/4/20,7:30,QUEENS,"(40.744232, -73.861275)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4423984,Bus,Station Wagon/Sport Utility Vehicle
105,12/3/20,15:10,QUEENS,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4373032,Sedan,NaN
129,12/19/20,16:15,QUEENS,"(40.72362, -73.88802)",1,0,1,0,0,0,0,0,Backing Unsafely,NaN,4379293,Station Wagon/Sport Utility Vehicle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324366,1/1/19,11:00,QUEENS,"(40.698704, -73.89974)",0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
324367,1/1/19,12:30,QUEENS,"(40.74114, -73.85747)",0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
324371,1/1/19,2:18,QUEENS,"(40.716507, -73.84711)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
324372,1/1/19,13:00,QUEENS,"(40.665497, -73.75573)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
324375,1/1/19,10:23,QUEENS,"(40.75868, -73.87552)",1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [13]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## number of people killed but return as a frame with a label "number_killed"

In [14]:
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause
df_m = crashes.query("(BOROUGH == 'MANHATTAN') and (`VEHICLE TYPE CODE 2` == 'Taxi')")
df_m

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
1163,12/17/20,16:45,MANHATTAN,"(40.74147, -73.985435)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4376897,Bus,Taxi
1286,12/22/20,0:00,MANHATTAN,"(40.763363, -73.95925)",0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified,4378159,Station Wagon/Sport Utility Vehicle,Taxi
1330,12/30/20,13:25,MANHATTAN,"(40.748512, -73.98872)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4380283,Taxi,Taxi
1464,12/28/20,9:10,MANHATTAN,"(40.766983, -73.981735)",0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4379692,Station Wagon/Sport Utility Vehicle,Taxi
2081,12/14/20,18:49,MANHATTAN,"(40.738903, -73.98731)",2,0,0,0,0,0,2,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4376115,Sedan,Taxi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323746,1/5/19,22:00,MANHATTAN,"(40.765358, -73.965904)",3,0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,4062852,Taxi,Taxi
323840,1/3/19,9:55,MANHATTAN,"(40.763027, -73.98008)",0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,4061527,Sedan,Taxi
324024,1/1/19,4:12,MANHATTAN,"(40.74959, -74.00279)",0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4061312,Sedan,Taxi
324094,1/2/19,8:38,MANHATTAN,"(40.752724, -73.996796)",0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4061330,Bus,Taxi
324328,1/1/19,4:00,MANHATTAN,"(40.86446, -73.91895)",1,0,0,0,0,0,1,0,Alcohol Involvement,Unspecified,4061250,Sedan,Taxi

In [15]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause

In [16]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause
### as a percent in a frame with header pct_

In [17]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the top 8 causes of accidents across all the boroughs?
## by secondary vehicle cause

In [18]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the 5 fewest causes for primary vehicles causing the accident

In [19]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## list ALL the causes for vehicle 1 as unique values (in other words, create a list of the causes)

In [20]:
## find all incidents of defective pavements causing accidents 
## and sort by borough
defectsManhattan = crashes.query("(`CONTRIBUTING FACTOR VEHICLE 1` == 'Pavement Slippery') and (BOROUGH == 'MANHATTAN')")
defectsBrooklyn = crashes.query("(`CONTRIBUTING FACTOR VEHICLE 1` == 'Pavement Slippery') and (BOROUGH == 'BROOKLYN')")
defectsStatenIsland = crashes.query("(`CONTRIBUTING FACTOR VEHICLE 1` == 'Pavement Slippery') and (BOROUGH == 'STATEN ISLAND')")
defectsQueens = crashes.query("(`CONTRIBUTING FACTOR VEHICLE 1` == 'Pavement Slippery') and (BOROUGH == 'QUEENS')")
defectsBronx = crashes.query("(`CONTRIBUTING FACTOR VEHICLE 1` == 'Pavement Slippery') and (BOROUGH == 'BRONX')")

In [21]:
defectsManhattan

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
23,5/10/20,0:51,MANHATTAN,"(40.84103, -73.94463)",2,0,0,0,0,0,2,0,Pavement Slippery,Unspecified,4415453,AMBULANCE,Sedan
1724,12/16/20,17:51,MANHATTAN,"(40.785866, -73.950935)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4378318,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
2146,12/17/20,13:10,MANHATTAN,"(40.74639, -73.977646)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4376852,Pick-up Truck,Pick-up Truck
3013,12/17/20,9:30,MANHATTAN,"(40.742256, -73.97768)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4376856,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
3994,12/16/20,17:09,MANHATTAN,"(40.744778, -73.97589)",1,0,1,0,0,0,0,0,Pavement Slippery,NaN,4377098,Station Wagon/Sport Utility Vehicle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309600,1/29/19,18:47,MANHATTAN,"(40.776318, -73.962135)",1,0,1,0,0,0,0,0,Pavement Slippery,NaN,4071519,Taxi,NaN
312173,1/20/19,2:50,MANHATTAN,"(40.787117, -73.94793)",0,0,0,0,0,0,0,0,Pavement Slippery,Pavement Slippery,4058328,Sedan,Taxi
313735,1/29/19,16:00,MANHATTAN,"(40.803425, -73.93309)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4071162,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
313860,1/18/19,12:00,MANHATTAN,"(40.738796, -73.97716)",0,0,0,0,0,0,0,0,Pavement Slippery,Unsafe Lane Changing,4057010,Sedan,Taxi
318597,1/26/19,2:20,MANHATTAN,"(40.76871, -73.969986)",0,0,0,0,0,0,0,0,Pavement Slippery,Pavement Slippery,4069629,Station Wagon/Sport Utility Vehicle,Sedan

In [22]:
defectsBrooklyn

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
409,12/21/20,0:30,BROOKLYN,"(40.68837, -73.944916)",0,0,0,0,0,0,0,0,Pavement Slippery,Other Vehicular,4379351,Station Wagon/Sport Utility Vehicle,Sedan
575,12/16/20,18:19,BROOKLYN,"(40.62881, -74.009346)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4376845,Station Wagon/Sport Utility Vehicle,Sedan
815,12/17/20,8:40,BROOKLYN,"(40.58814, -73.93179)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4376799,Dump,Station Wagon/Sport Utility Vehicle
1070,12/19/20,15:00,BROOKLYN,"(40.635147, -74.019516)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4377297,Sedan,NaN
1101,12/19/20,23:00,BROOKLYN,"(40.623863, -73.95117)",1,0,0,0,0,0,1,0,Pavement Slippery,Unspecified,4377377,Sedan,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321307,1/29/19,18:05,BROOKLYN,"(40.71324, -73.94135)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4071222,Sedan,Sedan
321512,1/30/19,16:00,BROOKLYN,"(40.648182, -73.93001)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4071966,Sedan,Station Wagon/Sport Utility Vehicle
321614,1/24/19,19:25,BROOKLYN,"(40.635002, -73.96118)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4068533,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
321629,1/21/19,0:05,BROOKLYN,"(40.690063, -73.92305)",1,0,0,0,0,0,1,0,Pavement Slippery,Unspecified,4058106,Sedan,Station Wagon/Sport Utility Vehicle
324122,1/1/19,0:05,BROOKLYN,"(40.662674, -73.89738)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4060741,Sedan,Station Wagon/Sport Utility Vehicle

In [23]:
defectsStatenIsland

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
386,12/21/20,10:00,STATEN ISLAND,"(40.594616, -74.12555)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4377842,Station Wagon/Sport Utility Vehicle,Sedan
846,12/16/20,19:47,STATEN ISLAND,"(40.575813, -74.11979)",0,0,0,0,0,0,0,0,Pavement Slippery,Pavement Slippery,4376921,Sedan,Sedan
1539,12/17/20,12:30,STATEN ISLAND,"(40.59939, -74.081314)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4376984,Dump,Sedan
1842,12/17/20,12:30,STATEN ISLAND,"(40.638397, -74.08824)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4377825,Snow Plow,Station Wagon/Sport Utility Vehicle
2308,12/16/20,17:00,STATEN ISLAND,"(40.550266, -74.18279)",1,0,0,0,0,0,1,0,Pavement Slippery,Unspecified,4377109,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305927,2/20/19,18:25,STATEN ISLAND,"(40.617702, -74.09408)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4086256,Station Wagon/Sport Utility Vehicle,Pick-up Truck
307807,1/24/19,22:30,STATEN ISLAND,"(40.60899, -74.06543)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4070084,Sedan,Pick-up Truck
308168,2/3/19,5:20,STATEN ISLAND,"(40.59924, -74.09179)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4074581,Sedan,Sedan
308577,1/25/19,1:32,STATEN ISLAND,"(40.60181, -74.120605)",0,0,0,0,0,0,0,0,Pavement Slippery,NaN,4068922,Sedan,NaN
309088,1/19/19,0:15,STATEN ISLAND,"(40.582756, -74.13041)",1,0,0,0,0,0,1,0,Pavement Slippery,Unspecified,4057291,Sedan,Sedan

In [24]:
defectsQueens

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
659,12/17/20,4:25,QUEENS,"(40.75508, -73.93876)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4376744,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
730,12/12/20,9:45,QUEENS,"(40.7525, -73.73742)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4375282,Station Wagon/Sport Utility Vehicle,Sedan
749,12/24/20,0:10,QUEENS,"(40.71042, -73.85964)",1,0,0,0,0,0,1,0,Pavement Slippery,NaN,4379848,Sedan,NaN
1046,12/17/20,13:30,QUEENS,"(40.758392, -73.781456)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4376896,Sedan,Garbage or Refuse
1262,12/22/20,3:23,QUEENS,NaN,0,0,0,0,0,0,0,0,Pavement Slippery,NaN,4378424,Pick-up Truck,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320412,1/18/19,11:53,QUEENS,"(40.731777, -73.77011)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4057126,Sedan,Sedan
320931,1/24/19,6:08,QUEENS,"(40.72844, -73.87116)",0,0,0,0,0,0,0,0,Pavement Slippery,Reaction to Uninvolved Vehicle,4059931,Station Wagon/Sport Utility Vehicle,Sedan
320985,2/3/19,22:35,QUEENS,"(40.733418, -73.73709)",0,0,0,0,0,0,0,0,Pavement Slippery,Failure to Yield Right-of-Way,4074399,Sedan,Sedan
321122,1/7/19,9:00,QUEENS,"(40.73835, -73.78854)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4063522,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
321934,1/29/19,17:45,QUEENS,"(40.7201, -73.79038)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4071205,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle

In [25]:
defectsBronx

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
197,10/26/20,14:40,BRONX,NaN,0,0,0,0,0,0,0,0,Pavement Slippery,NaN,4361477,Station Wagon/Sport Utility Vehicle,NaN
233,12/16/20,19:03,BRONX,"(40.835052, -73.92615)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4376755,Station Wagon/Sport Utility Vehicle,Sedan
500,12/16/20,21:25,BRONX,"(40.821323, -73.90002)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4377045,Pick-up Truck,Sedan
863,12/17/20,11:04,BRONX,"(40.84371, -73.903175)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4377379,Sedan,Taxi
1240,12/26/20,8:30,BRONX,"(40.877476, -73.83661)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4379246,Tractor Truck Diesel,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319758,1/8/19,11:00,BRONX,"(40.80578, -73.877304)",0,0,0,0,0,0,0,0,Pavement Slippery,Unspecified,4066907,Sedan,Pick-up Truck
320048,1/5/19,11:00,BRONX,"(40.843903, -73.85756)",0,0,0,0,0,0,0,0,Pavement Slippery,Other Vehicular,4061964,Sedan,Station Wagon/Sport Utility Vehicle
321104,1/24/19,15:54,BRONX,"(40.86879, -73.83168)",1,0,0,0,0,0,1,0,Pavement Slippery,NaN,4068528,Pick-up Truck,NaN
321817,1/7/19,9:02,BRONX,"(40.88793, -73.82849)",0,0,0,0,0,0,0,0,Pavement Slippery,Pavement Slippery,4063072,Sedan,Sedan
324240,1/1/19,1:25,BRONX,"(40.861862, -73.91282)",0,0,0,0,0,0,0,0,Pavement Slippery,Failure to Yield Right-of-Way,4060863,Station Wagon/Sport Utility Vehicle,Sedan

In [26]:
## find all incidents in which more than 3 people were killed
crashes.query("3 < `NUMBER OF PEDESTRIANS KILLED`")

Empty DataFrame
Columns: [CRASH DATE, CRASH TIME, BOROUGH, LOCATION, NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED, NUMBER OF PEDESTRIANS INJURED, NUMBER OF PEDESTRIANS KILLED, NUMBER OF CYCLIST INJURED, NUMBER OF CYCLIST KILLED, NUMBER OF MOTORIST INJURED, NUMBER OF MOTORIST KILLED, CONTRIBUTING FACTOR VEHICLE 1, CONTRIBUTING FACTOR VEHICLE 2, COLLISION_ID, VEHICLE TYPE CODE 1, VEHICLE TYPE CODE 2]
Index: []

In [27]:
## find all incidents in which between 2 and 3 people were killed
crashes.query("2 <= `NUMBER OF PEDESTRIANS KILLED` <= 3")

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
7071,10/30/20,17:18,QUEENS,"(40.705147, -73.7957)",3,2,3,2,0,0,0,0,Driver Inexperience,NaN,4362781,Station Wagon/Sport Utility Vehicle,NaN

## Concat the following two files into a single dataframe

- <a href="https://github.com/sandeepmj/datasets/blob/main/importing/flt_delays_17.csv">Flight delays 2017</a>
- <a href="https://github.com/sandeepmj/datasets/blob/main/importing/flt_delays_18.csv">Flight delays 2018</a>

In [29]:
fd17 = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/importing/flt_delays_17.csv")
fd17

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2017,3,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",145.0,26.0,10.83,0.00,...,0.00,9.31,0.0,0.0,935.0,437.0,0.0,193.0,0.0,305.0
1,2017,3,AA,American Airlines Inc.,ALB,"Albany, NY: Albany International",89.0,16.0,2.12,0.41,...,0.00,7.26,3.0,0.0,689.0,100.0,40.0,139.0,0.0,410.0
2,2017,3,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",1205.0,241.0,78.79,4.13,...,0.95,82.14,9.0,3.0,12584.0,3827.0,372.0,2839.0,38.0,5508.0
3,2017,3,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",749.0,111.0,36.77,3.42,...,0.05,47.26,2.0,0.0,5112.0,1398.0,219.0,752.0,1.0,2742.0
4,2017,3,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",410.0,102.0,28.99,2.59,...,0.00,25.41,22.0,0.0,3929.0,1185.0,232.0,1183.0,0.0,1329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8379,2017,10,UA,United Air Lines Inc.,BUR,"Burbank, CA: Bob Hope",113.0,26.0,7.76,0.00,...,0.00,13.40,2.0,0.0,1819.0,483.0,0.0,171.0,0.0,1165.0
8380,2017,10,UA,United Air Lines Inc.,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",327.0,35.0,6.48,2.16,...,0.00,19.55,0.0,0.0,2942.0,398.0,345.0,270.0,0.0,1929.0
8381,2017,10,UA,United Air Lines Inc.,BZN,"Bozeman, MT: Bozeman Yellowstone International",95.0,11.0,2.45,1.00,...,0.00,2.79,0.0,0.0,428.0,62.0,67.0,168.0,0.0,131.0
8382,2017,10,UA,United Air Lines Inc.,CHS,"Charleston, SC: Charleston AFB/International",89.0,6.0,1.66,0.00,...,0.00,4.25,0.0,0.0,242.0,68.0,0.0,2.0,0.0,172.0
8383,2017,10,UA,United Air Lines Inc.,CID,"Cedar Rapids/Iowa City, IA: The Eastern Iowa",85.0,10.0,2.38,0.00,...,0.00,4.87,0.0,0.0,451.0,87.0,0.0,69.0,0.0,295.0

In [31]:
fd18 = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/importing/flt_delays_18.csv")
fd18

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,...,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,...,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,...,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,...,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,...,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16786,2018,10,YX,Republic Airline,TPA,"Tampa, FL: Tampa International",3.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16787,2018,10,YX,Republic Airline,TVC,"Traverse City, MI: Cherry Capital",55.0,12.0,2.11,1.93,...,0.0,5.89,0.0,0.0,1108.0,66.0,584.0,81.0,0.0,377.0
16788,2018,10,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",13.0,2.0,0.00,0.00,...,0.0,1.00,0.0,0.0,200.0,0.0,0.0,26.0,0.0,174.0
16789,2018,10,YX,Republic Airline,VPS,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",31.0,2.0,0.79,0.00,...,0.0,0.00,1.0,1.0,66.0,33.0,0.0,33.0,0.0,0.0
16790,2018,10,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas Regional",116.0,36.0,4.20,0.00,...,0.0,8.71,0.0,0.0,1662.0,257.0,0.0,930.0,0.0,475.0

In [72]:
flights = pd.concat([fd17, fd18], ignore_index = True)
flights

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2017,3,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",145.0,26.0,10.83,0.00,...,0.00,9.31,0.0,0.0,935.0,437.0,0.0,193.0,0.0,305.0
1,2017,3,AA,American Airlines Inc.,ALB,"Albany, NY: Albany International",89.0,16.0,2.12,0.41,...,0.00,7.26,3.0,0.0,689.0,100.0,40.0,139.0,0.0,410.0
2,2017,3,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",1205.0,241.0,78.79,4.13,...,0.95,82.14,9.0,3.0,12584.0,3827.0,372.0,2839.0,38.0,5508.0
3,2017,3,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",749.0,111.0,36.77,3.42,...,0.05,47.26,2.0,0.0,5112.0,1398.0,219.0,752.0,1.0,2742.0
4,2017,3,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",410.0,102.0,28.99,2.59,...,0.00,25.41,22.0,0.0,3929.0,1185.0,232.0,1183.0,0.0,1329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25170,2018,10,YX,Republic Airline,TPA,"Tampa, FL: Tampa International",3.0,0.0,0.00,0.00,...,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25171,2018,10,YX,Republic Airline,TVC,"Traverse City, MI: Cherry Capital",55.0,12.0,2.11,1.93,...,0.00,5.89,0.0,0.0,1108.0,66.0,584.0,81.0,0.0,377.0
25172,2018,10,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",13.0,2.0,0.00,0.00,...,0.00,1.00,0.0,0.0,200.0,0.0,0.0,26.0,0.0,174.0
25173,2018,10,YX,Republic Airline,VPS,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",31.0,2.0,0.79,0.00,...,0.00,0.00,1.0,1.0,66.0,33.0,0.0,33.0,0.0,0.0
25174,2018,10,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas Regional",116.0,36.0,4.20,0.00,...,0.00,8.71,0.0,0.0,1662.0,257.0,0.0,930.0,0.0,475.0